.banner-menu{
    width: 100%;
    display: block;
    background: url('../assets/img/lp.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--ion-color-light);
    height: 150px;
    padding: 1rem;
  }