.imagen {
    height: 300px !important;
    border-radius: 15px;
    -webkit-box-shadow: 4px 7px 7px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 4px 7px 7px 0px rgba(0,0,0,0.63);
    box-shadow: 4px 7px 7px 0px rgba(0,0,0,0.63);
    contain: inherit;
}
.texto {
    padding: 28%;
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
button {
    padding: 0 !important;
}